 
.whole-page {
    width: 90%;
    height: 90%;
    
    margin: (10%, 15%, 10%, 15%);
}
 /* vh and vw make it unresponsive*/
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1920px;
}

.exporter {
    margin: 2%;
    background-color: aquamarine;
    height: 100px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}


.new-class {
    background-color: green;
    border-style: dotted;
    cursor: move;
}

.draggy {
    height: 50px;
    width: 100px;
    position: relative;
}

.event-manager {
    /* border: 2px solid brown; */
    position: relative;
    padding: 0 !important;
    margin: auto;
}

.block--middle-row {
    position: absolute;
    top: 5%;
    left: 20%;   
    z-index: 500;
    height: 82%;
    padding: 0 !important;
    border: 2px solid midnightblue;
    margin: 0;
}

.photo-tool-holder {
    position: absolute;
    /* border: 2px solid blue; */
    top: 5%;
    left: 20%;
    padding: 0 !important;
    margin: 0;
}

.component-holder {
    background-color: gold;
    padding: 10px;
    margin: 5%;
}

.test {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:white;
    opacity: 0.5;    
}

.photo-tool {
    display: flex;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}

.event-manager {
    margin: 20px;
    background-color: white;
    height: 450px;
    background-color: aquamarine;
    border-radius: 10px;
    padding: 20px;
}

.layer-manager {
    position: absolute;
    background-color: white;
    height: 85%;
    border: 2px solid aquamarine;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    top: 5%;
    left: 75%
}

.file-manager {
    position: relative;
    margin: 2%;
    background-color: white;
    height: 100px;
    background-color: aquamarine;
    border-radius: 10px;
    text-align: left;
    font-size: 30px;
    padding: 7px;
}

.img-list-popup{
    position: absolute;
    top:-50%;
    left: 15%;
    width: 15%;
    background-color: aquamarine;
}

.new-selected-img {
    width: auto;
    height: 95%;
    
}

.img-holder {
    width: 30%;
    height: 85px;
    margin: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.50);
    text-align: center;
}


.browse-btn{
    position: absolute;
    top: 8%;
    left: 10px;
    background-color: gold;
    font-size: 18px;
    margin-top: 5%;
}

.add-btn{
    position: absolute;
    top: 8%;
    right: 10px;
    background-color: gold;
    font-size: 18px;
    margin-top: 5%;
}

.list-item {
    background-color: darkcyan;
    margin: 3%;
    padding: 10%;
    border-radius: 4px;
    font-size: medium;
}

.my-canvas {
    /* border: 2px solid black; */
    width: 100%;
    height: 100%;
    margin: 0 ;
}



.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: goldenrod;
    z-index: 999;
}

.resize-handle-nw {
    /* top: 0;
    left: 0; */
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: 0;
    right: 0;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
